.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
}

@media screen and (max-width: 900px) {
  .box {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .box {
    width: 90%;
  }
}
