.paper {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-top: 20px;
	padding: 20px 30px;
}

.box {
	display: flex;
	align-items: center;
}

.box_button {
	display: flex;
	justify-content: flex-end;
}

.typography {
	cursor: pointer;
	display: flex;
	align-items: center;
}

.checkbox:hover,
.edit_button:hover {
	color: green;
	transition: '0.3s'
}

.close_button:hover {
	color: red;
	transition: '0.3s'
}

@media screen and (max-width: 900px) {
	.paper {
		padding: 10px 20px;
	}
}

@media screen and (max-width: 600px) {
	.paper {
		padding: 1px;
		background-color: red;
	}
}